/* Wrapper for the map */
.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
}


/* Container for basemap switcher buttons */
.maplibregl-ctrl-group {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Basemap switcher button styling */
.maplibregl-ctrl-group button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.maplibregl-ctrl-group button:hover {
  background-color: #45a049;
}

/* Positioning for the basemap switcher in the top-right corner */
.maplibregl-ctrl-top-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 10px;  /* Ensure it's slightly away from the top */
  right: 10px; /* Ensure it's slightly away from the right */
}

/* Remove hover effect for zoom buttons */
.maplibregl-ctrl-zoom button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* Positioning for the zoom buttons in the bottom-right corner */
.maplibregl-ctrl-bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 10px; /* Ensure it's slightly away from the bottom */
  right: 10px;  /* Ensure it's slightly away from the right */
}
